.search-popup {
  background-color: rgb(254, 187, 2);
  border-radius: 10px;
  color: rgb(85, 85, 85);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.search-popup h2 {
  font-weight: bold;
}

.search-popup-input {
  padding: 10px;
  border: 0;
  font-size: 20px;
}

.search-popup-label {
  font-weight: bold;
  margin-top: 10px;
}
.options-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.options-item {
  display: flex;
  justify-content: space-between;
}

.options-item input {
  width: 60px;
  color: rgb(142, 142, 142);
}

.search-popup button {
  padding: 10px;
  background-color: rgb(0, 113, 194);
  color: white;
  border: 0;
  margin-top: 25px;
}
